# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

# Maven
target/
dist/
flattened-pom.xml
.classpath
.project
.settings/

# JetBrains IDE
.idea/
*.iml

LICENSES
artifacts/
/package/carbonio-user-management.jar

.vscode/