# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[Unit]
Description=Carbonio User Management daemon
Wants=network.target
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/zextras/common/bin/java \
  -Djava.net.preferIPv4Stack=true \
  -Xmx4096m \
  -jar /usr/bin/carbonio/user-management/carbonio-user-management.jar

User=carbonio-user-management
Group=carbonio-user-management
Restart=on-failure
RestartSec=15
TimeoutSec=60
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
