# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[Unit]
Description=Carbonio User Management Daemon
Wants=network.target
Requires=network-online.target
After=network-online.target

[Service]
Type=notify
NotifyAccess=main
ExecStart=/opt/zextras/common/bin/java \
  --enable-preview \
  --enable-native-access=ALL-UNNAMED \
  -Djava.net.preferIPv4Stack=true \
  -jar /usr/share/carbonio/carbonio-user-management.jar
User=carbonio-user-management
Group=carbonio-user-management
Restart=on-failure
RestartSec=15s
TimeoutStartSec=120s
TimeoutStopSec=120s

[Install]
WantedBy=multi-user.target
